* {
  margin: 0;
  padding: 0;
  color: black;
}

body {
  background: #777772;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
  display: grid;
  /*    grid-auto-rows: minmax(150px, auto);*/
  /* grid-template-columns:  */
  /*    height:100vh;*/
  background: #a9cada;
  color: #131110;
  /*    justify-content: center;*/
  /*    grid-gap: 1em;*/
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

.entry {
  background: rgb(236, 233, 233);
  padding: 15px;
  margin-bottom: 25px;
}

#date {
  color: rgb(46, 43, 43);
}

.headline {
  font-size: 2em;
  text-align: center;
  background-color: #5c6e91;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 15vh;
}

.mainContainer {
  margin-top: 25px;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  min-height: 85vh;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: flex;
  font-size: 27px;
}

input {
  display: flex;
  height: 60px;
  width: 320px;
  background: #8a8c8f;
  color: #8f384d;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
  padding-left: 25px;
  margin-bottom: 25px;
}

button {
  width: 400px;
  height: 100px;
  background: #fcfcfc;
  color: red;
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
  margin-bottom: 25px;
}
h1 {
  font-size: 36px;
}

textarea {
  background: #effafd;
  color: #8f384d;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  padding: 25px;
  margin-bottom: 25px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: red;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #eeede5;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}
/*
input {
  color: white;
}
.myInput {
  color: white;
}
*/
